<p>
  <span>header works!</span>
  <button *ngIf="(currentUser$ | async) === undefined" (click)="login()">Login</button>
  <button *ngIf="currentUser$ | async" (click)="logout()">Logout</button>
</p>
